.flex-container{
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
    background-color: #E6E6E6;
    padding: 5px;
    height: 100%;
}

h1 {
    text-align: center;
}
.header{
    display: flex;
    justify-content: space-between;
    height: 25%;
    margin-bottom: 3em;
    background-color: #72747a;
}

ul {
    display: flex;
    list-style-type: none;
}

ul li {
    margin-right: 20px;
}

li a{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1.5rem;
    color: #464343;
    font-weight: 800;
}


.logo {
    width: 92px;
    height: 89px;
}

img {
    display: block;
    margin: 0 auto;
  }

.about_me {
    display:flex;
    text-align: center;
    flex-direction: column;
    flex: 1 0 auto;
}

.fullname {
    text-align: center;
    font-size: 30px;
    color:brown

}

.article {
    text-align: center;
}

.knowledge {
    text-align: center;
    font-size: medium;
    color: chocolate;
}
.footer {
    text-decoration: none;
    text-align: center;
    font-family: sans-serif;
    font-size: 2rem;
    font-variant: small-caps;
    color: #6f6f7474;
    font-weight: 700;
}